@charset "utf-8";
/* CSS Document */

body{
	background-color:#DAF7A6;
	}

#logo{
	clear:both;
	background-color:#fff;
	margin-top:-.5%;
	margin-left:-1%;
	margin-bottom:-.5%;
	width:101.55%;
	height:110px;
	}
#socialwrapper{
	border-bottom:2px thick gray;
	margin-right:-.60%;
	margin-top:-.65%;
	float:right;
	width:102%;
	height:40px;
	background-color:white;


	}
#social{
	float:right;
	background-color:white;
	width:45px;
	padding:12px 5px 0px;
	height:45px;
	}

h1{
	color:#fff;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-align:center;
	}
.h1black{
	color:black;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;}

h2{
	color:black;
	text-align:center;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	font-size: 30px;
	}

.row{
	/* width: 800px; */
	margin: 0 auto;
  padding-left: 400px;
}

#wrapper{
	overflow:auto;
	width:80%;
	background-color:white;
	margin:auto;
	margin-top:-.5%;
	padding:7px;
	padding-bottom:15px;
	}

.wrapper2{
	margin-bottom:-4.1%;
}

/*for the contact form*/
#formwrapper{
	background-color:#CEE0E3;
	width:85%;
	margin-top:35px;
	margin:auto;
	padding:20px;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;

	}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 0px 0px 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	font-size:14px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	-moz-box-shadow: 0px 2px 7px 0px #676767;
	-webkit-box-shadow: 0px 2px 7px 0px #676767;
	box-shadow: 0px 2px 7px 0px #676767
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

#divleft{
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	background-color:fff;
	width:335px;
	padding:10px;
	float:left;
	padding-bottom:100px;
	}


#div3{
	margin-top:10px;
	border-top:2px dotted gray;
	padding-top:10px;
	padding-bottom:10px;
	width:60%;
	margin-left:20%;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	text-align: center;
	}

#divpik{
	color:white;
	width:720px;
	height:179px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding:1px 1px 0px 0px;
	text-align:center;
	border-radius:40px 0px 60px 0px;

	}

.pik1{
	background-image:url(assets/close-up1.png);
	background-repeat:no-repeat;
	}

.pik2{
	background-image:url(assets/bitcoin.png);
	background-repeat:no-repeat;}

.pik3{
	background-image:url(assets/people.png);
	background-repeat:no-repeat;
	}
.h1center{
	margin-top:8%;
	text-align:center;}

#navbar{
	position:relative;
	background-color: #DD9204;
	margin-left:-1%;
	margin-right:-1%;
	width:101.55%;
	height:auto;
	text-align: center;
	/*for the box shadow*/
	-moz-box-shadow: 0px 2px 7px 0px #676767;
	-webkit-box-shadow: 0px 2px 7px 0px #676767;
	box-shadow: 0px 2px 7px 0px #676767;
	}

ul{
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	display:inline-block;
	color:white;
	font-size:16px;
	list-style-type:none;
	margin:auto;
	padding:0;
	overflow:visible;
	background-color:#DD9204;
	}

li {
	float:left;
	border-right:2px solid #Fff;
	}
li:last-child{
	border-right:none;}

li a{
	display:block;
	padding:10px;
	text-decoration:none;
	color:white;
	}

/*change link color on hover*/
li a:hover:not(.active){
	background-color:#BB5E00;
	color:white;
	}

.active{
	background-color:#BB5E00;
	color:white;
	}

#footernav{
	clear:both;
	background-color:#DD9204;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	color:white;
	text-align:center;
	padding:10px;
	font-size:13pt;
	width:100.53%;
	height:auto;
	margin-left:-1%;
	margin-bottom:-5%;
	position:relative;
	}

a.navfooter{
	color:white;
	   text-decoration:none;
	   font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	   padding:10px;
	  }

a.navfooter:hover{color:black;}

#risk{
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:10px;
	}

/*for the differnt service plans*/
#planwrap{
	overflow:inherit;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:-.5%;
	padding:7px;
	padding-bottom:15px;
	padding-left: 350px;
	}

#plan{
	margin-left:5%;
	margin-bottom:5%;
	float:left;
	width:350px;
	height:auto;
	background-color:white;
	border-radius:17px 17px 17px 17px;
	/*for the box shadow*/
	-moz-box-shadow: 2px 2px 4px 2px #999;
	-webkit-box-shadow: 2px 2px 4px 2px #999;
	box-shadow: 2px 2px 4px 2px #999;
	}

.plancontent{
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	width:320px;
	height:auto;
	background-color:white;
	padding:10px;
	border-radius:0px 0px 15px 15px;
	}

.planheader{
	background-color:#F89603;
	padding-top:7px;
	width:100%;
	height:50px;
	text-align:center;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	color:#333;
	border-radius:15px 15px 0px 0px;

	}

.buynow{
	display:block;
	margin-left:25%;
	border-radius:15px;
	height:25px;
	width:110px;
	background-color:#FF0;
	text-align:center;
	padding:20px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	color:#414141;
	border:3px outset #fff;
	}

a.buy{color:#414141;
	   text-decoration:none;
	   font-family:"Arial Black", Gadget, sans-serif;
	   padding:10px;
		}

a.buy:hover{color:#00F;}


.price{
	color:#F89603;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:20px;
	text-align:center;
	}
